<div *ngIf="!isAdminLoggIn && !isCustomerLoggedIn">

  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Ecommerce</span>
    <span class="spacer"></span>
    <!--  <button mat-button routerLink="/commandes"  routerLinkActive="active">Gestion de commende/ Suivre la commande</button>-->
    <button mat-button routerLink="/signup" routerLinkActive="active">S'enregistrer</button>
    <button mat-button routerLink="/authentification" routerLinkActive="active">Connexion</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Ecommerce</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Tableau de bord</button>
    <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analyse</button>
    <button mat-button routerLink="/admin/enregistrerCategorie" routerLinkActive="active">Catégorie</button>
    <button mat-button routerLink="/admin/produit" routerLinkActive="active">Gestion des produits</button>
    <button mat-button routerLink="/admin/commandes" routerLinkActive="active">Commandes</button>
    <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Coupons</button>
    <button mat-button  routerLinkActive="active" (click)="onDeconnexion()">Deconnexion</button>
  </mat-toolbar>
</div>
<div *ngIf="isCustomerLoggedIn">

  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Ecommerce</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Tableau de bord</button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active">Panier</button>
    <button mat-button routerLink="/customer/commandes" routerLinkActive="active">Commandes</button>
    <button mat-button routerLink="/customer/souhaits" routerLinkActive="active">Liste de souhaits</button>
    <button mat-button routerLink="/customer/profile" routerLinkActive="active">Profile</button>
<!--    <button mat-button routerLink="/customer/produits" routerLinkActive="active">Gestion des produits</button>-->
<!--    <button mat-button routerLink="/customer/coupons" routerLinkActive="active">Coupons</button>-->
    <button mat-button  routerLinkActive="active" (click)="onDeconnexion()">Deconnexion</button>

  </mat-toolbar>
</div>
<router-outlet></router-outlet>
